/* VARIABLES */
:root {
	/* FONTS */
	--FF: "Arial", sans-serif;
	--FF-HEADINGS: "Franklin Gothic Medium', 'Arial Narrow', Arial, cursive";
	--FS: clamp(1rem, calc(1em + 2vh), 2rem);
	--FS-SMALL: clamp(0.5rem, calc(1em + 1vh), 1.5rem);
	/* COLORS */
	--BG-COLOR: #292423;
	--BG-COLOR2: rgb(230,230,230);
	--FONT-COLOR: white;
	--BORDER-COLOR: rgb(255, 255, 255);
	--HIGHLIGHT-COLOR1: rgb(201, 147, 131);
	--HIGHLIGHT-COLOR2: rgb(0, 128, 128);
	--LINK-COLOR: green;
	--LINK-HOVER: rgb(236, 174, 156);
	--LINK-ACTIVE: orange;
	--GREY-COLOR: rgb(248, 248, 248);
	--GREY-BG: rgb(65, 65, 65);
	--GREY-BG2 : rgb(73, 73, 73);
	--GREEN-BG :#0C4343;
	--GREEN-BG3:#212222;
	/* BORDERS */
	--BORDERS: 1px solid var(--BORDER-COLOR);
	--BORDER-BLUR: 1px solid rgba(0, 0, 0, 0.139);  
	/* STANDARD PADDING */
	--PADDING: clamp(0.1rem, calc(0.2rem + 1.5vh), 2rem) clamp(1rem, calc(0.1rem + 1.3vw), 1.5rem);
	--PADDING-TB: 0.25rem 0;
	--PADDING-SIDE: 0 0.3rem;
 
	/* STANDARD MARGIN */
	--MARGIN: clamp(1rem, calc(1rem + 2vw), 1.5rem);
	--MARGIN-SIDE: 0 clamp(1rem, calc(1.5rem + 2vw), 1.5rem);
	--MARGIN-TB: clamp(1rem, calc(1rem + 2vh), 1.5rem) 0;
 
 
 }