.logo--footer {
	width: 100%;
}
.logo--title--advantages {
	color: var(--BG-COLOR);
}
.title-icon--hidden-lg {
	display: none;
}

.logo--header {
	width: 8rem;
	height: 100%;
}

.title-icon--advantages {
	width: 850px;
	font-size: 2rem;
}
.title-icon--contact {
	width: 1200px;
}

.card-logo--solution {
	height: 50%;
	width: 100%;
}
.card-logo__img--solution {
	width: 550px;
}
.button--arrow {
	padding: 0;
	border: 1px solid var(--HIGHLIGHT-COLOR2);
	width: 1.3rem;
	height: 1.3rem;
}

.button--card {
	border-color: var(--BG-COLOR);
}