/* TEXTE COLOR */
.text-black {
	color: var(--BG-COLOR);
}

.text-light-blue {
	color: var(--HIGHLIGHT-COLOR2);
}

.text-coffee-cream {
	color: var(--HIGHLIGHT-COLOR1);
}

.text-grey {
	color: var(--HIGHLIGHT-COLOR1);
}

/* TEXTE GRAS */
.text-bold {
	font-weight: bold;
}
 
/* Z INDEX */
.icon {
	z-index: 0;
}

.text-hover {
	z-index: 1;
}

/* IMAGE */
.img-circle {
	border-radius: 50%;
}

.img-corner {
	border-radius: 10%;
}

/* BUTTON  */


.button-margin-left {
	margin-left: auto;
}

.button-grey {
	color: var(--GREY-COLOR);
	background-color: var(--GREY-BG);
}

.button-grey-mid {
	margin: var(--MARGIN-TB);
}

/* BLOCK TEXTE EN LIGNE */
.text-row {
	display: flex;
	align-items: center;
	gap: 0.2em;
}

.zoom {
	transform: scale(1.2);
	transition: transform 0.3s ease-in-out;
}

.no-wrap {
	display: flex;
	flex-shrink: 0;
	white-space: nowrap;
}


/* FORM */
.form-search--modal {
	height: 3.5em;
	width: 80%;

}

/* MARGIN */
.button-margin {
	margin: 0 20px;
}

.margin-right {
	margin-right: 5em;
}

.margin-top {
	margin-top: 3em;
}

.margin-side {
	margin: var(--MARGIN-SIDE);
}



.element-hidden {
	display: none;
}

.element-visible {
	display: flex;
}



/* DISPLAY */
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;

}
.flex-between-center{ 
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container-text {
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-position {
	display: flex;
	gap: 10px;
}