/* TEXTE COLOR */
.text-black {
	color: var(--BG-COLOR);
}

.text-light-blue {
	color: var(--HIGHLIGHT-COLOR2);
}

.text-coffee-cream {
	color: var(--HIGHLIGHT-COLOR1);
}

.text-grey {
	color: var(--HIGHLIGHT-COLOR1);
}

/* TEXTE GRAS */
.text-bold {
	font-weight: bold;
}

/* IMAGE */
.img-circle {
	border-radius: 50%;
}

/* BUTTON  */


.button-margin-left {
	margin-left: auto;
}

.button-grey {
	color: var(--GREY-COLOR);
	background-color: var(--GREY-BG);
}

.button-grey-mid {
	margin: var(--MARGIN-TB);
}

/* BLOCK TEXTE EN LIGNE */
.text-row {
	display: flex;
	align-items: center;
}

.zoom {
	transform: scale(1.2);
	transition: transform 0.3s ease-in-out;
}

.no-wrap {
	display: flex;
	flex-shrink: 0;
	white-space: nowrap;
}


/* FORM */
.form-search--modal {
	height: 3.5em;
	width: 80%;

}
/* MARGIN */
.button-margin {
	margin: 0 20px;
}

.margin-right {
	margin-right:5em;
}
.margin-top {
	margin-top: 3em;
}
.margin-side {
	margin: var(--MARGIN-SIDE);
}