.icon--green {
	color: #146040;
}
.span--bold {
	font-weight: var(--weight-bold);
}
.span--underline {
	text-decoration: underline;
	text-decoration-color: var(--color-primary);
	text-decoration-thickness: 3px;
}
.span--highligth {
	color: var(--color-primary);
}
.span--italique {
	font-style: italic;
}
.fa--black {
	color: var(--black);
}
.compliance__button--pressed {
	background-color: var(--color-secondary);
  color:var(--color-text-primary);
}
.compliance__button--unpressed {
	color: var(--color-text-secondary);
	background-color: var(--white);
}
.compliance__button--advantage {
	border-radius: 15px 0 0 0;
}
.compliance__button--compliance {
	border-radius: 0 15px 0 0;
}
@media (max-width: 425px){
	.fa-9x::before {
		font-size: 3rem;
	}
	.fa-responsive-mb {
		font-size: 10px;
	}
}