
.compliance__button--pressed {
	background-color: var(--color-secondary);
  color:var(--color-text-primary);
}
.compliance__button--unpressed {
	color: var(--color-text-secondary);
	background-color: var(--white);
}
.compliance__button--advantage {
	border-radius: 15px 0 0 0;
}
.compliance__button--compliance {
	border-radius: 0 15px 0 0;
}
.compliance__content--compliance{
	
}
@media (max-width: 425px){
	.fa-9x::before {
		font-size: 3rem;
	}
	.fa-responsive-mb {
		font-size: 10px;
	}
}