.feature:hover {
	transform: scale(1.2);
}

.feature {
	transition: transform 0.4s ease-in-out ;
}
.question__button:hover {
  transform: scale(1.2);
}
.question__button {
	align-self: center;
	padding : 10px 20px;
	border-radius: 5px 25px 25px 5px;
	border:none;
	box-shadow: 2px 2px 8px var(--color-shadow);
  outline: 3px solid transparent;
  outline-offset: 0;
  transition: outline-color 0.5s ease, outline-offset 0.3s ease, transform 0.5s ease;
}
.question__button--click {
    background-color: var(--color-secondary);
    outline-color: var(--color-secondary);
    outline-offset: 10px;
    
}

.question__button--click .question__icon {
  transform: rotate(180deg);
  color: white;
}

.question__icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

@media (prefers-reduced-motion) {

}