/* HEADER */

.header {
	font-size: var(--FS);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	
    
 }
 
 
 
 
 /* SECTION 1 HERO */
 .hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	height: 100vh;
	justify-content: center;
 }
 
 
 
 /* SECTION 2 businesses */
 .businesses {
	gap: 10px;
	display: flex;
	justify-content: center;
	height: 70vh;
 }
 
 
 
 /* SECTION 3 ADVANTAGES */
 .advantages {
	background-color: var(--FONT-COLOR);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
 
 }
 
 /* SECTION 4 OUR SOLUTIONS*/
 
 .solutions {
	display: flex;
	height: 80vh;
	background-color: var(--BG-COLOR2);
	gap: 2em;
	align-items: center;
	justify-content: center;
 }
 
 /* SECTION 5 CAROUSEL */
 .services {
	height: 100vh;
	display: flex;
	background-color: var(--BG-COLOR2);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* overflow-x: hidden; */
 }
 
 /* SECTION 6 hize__slider */
 .hize {
	/* overflow-y: hidden;
	display: flex; */
	height: 200vh;
	
	background-color: aquamarine;
 
	/* overflow: hidden; */
 
 }
 
 /* SECTION 7 CONTACT */
 
 .contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--PADDING);
	height: 70vh;
	justify-content: center;
	background-color: var(--BG-COLOR2);
 }
 
 /* TODO: REgrouper les memes proprites comme le flex */