 /* SECTION 1 HERO */
 .hero {
 	display: flex;
 	flex-direction: column;
 	align-items: center;

 	height: 90vh;
 	justify-content: center;
 }

 .hero__container {
 	height: 60%;
 	width: 100%;
 	display: flex;
	justify-content: center;
 	flex-direction: column;
 	align-items: center;
	gap: 1rem

 }
 .hero__para {

	text-align: center;
	font-size: 0.4em;
	width: 33%;
}

 /* SECTION 2  BUSINESS */
 .business {
 	gap: 10px;
 	display: flex;
 	justify-content: center;
 	height: 90vh;
 }


 .business__arrow {
 	height: 150px;
 	width: 150px;
 }

 .business__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90%;
	width: 40%;
	gap: 10px;
}
.business__title {
	font-size: 1rem;
}
.business__para {
	font-size: 0.4rem;
}

 /* SECTION 3 ADVANTAGES */
 .advantages {
 	background-color: var(--FONT-COLOR);
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	height: 100vh;
 	justify-content: center;
 	gap: 1em;

 }

 /* SECTION 4 OUR solution*/

 .solution {
 	display: flex;
 	height: 80vh;
 	background-color: var(--BG-COLOR2);

 	justify-content: center;
 }

 .solution__container {
 	width: 40%;
 	height: 100%;
 	display: flex;
 	flex-direction: column;

 	justify-content: center;
 }
.solution__title{
	display: flex;
	flex-direction: column;
}

 .solution__para {
 	font-size: 0.4em;
 }

 .solution__wrapper {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	gap: 1em;
 	height: 60%;
 	width: 90%;
 }

 /* SECTION 5 SERVICES-CAROUSEL */
 .services {
 	height: 100vh;
 	display: flex;
 	background-color: var(--BG-COLOR2);
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 }

 .services__title {
	display: flex;
	align-items: center;
	width: 50%;
	height: 20%;
	color: var(--BG-COLOR);
}

.services__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 20%;
	width: 100%;
}

 /* SECTION 6 hize__slider */
 .hize {
 	height: 200vh;
 	background-color: var(--BG-COLOR2);
 	display: none;
 }


 /* SECTION 7 CONTACT */

 .contact {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	padding: var(--PADDING);
 	height: 87vh;
 	justify-content: center;
 	background-color: var(--BG-COLOR2);
	font-size: 2rem;
 }

 .contact__title {
 	font-size: 0.9em;
 	font-weight: 100;
 }
 
 /* TODO: REgrouper les memes proprites comme le flex */