 /* ANIMATION */
 .header--slide-in {
	animation:slide-in-top 1s cubic-bezier(.25,.46,.45,.94) both;
 }
 
 
 @keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
 
 
 
 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
 @keyframes fade-in{0%{opacity:0}100%{opacity:1}}


 @keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.zoom {
	transform: scale(1.2);
	/* Zoom sur la card */
}




