*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* VARIABLES */

:root {
    /* FONTS */
    --FF: "Arial", sans-serif;
    --FF-HEADINGS: "Franklin Gothic Medium', 'Arial Narrow', Arial, cursive";
    --FS: clamp(1rem, calc(1rem + 2vw), 2rem);

    /* COLORS */
    --BG-COLOR: #292423;
    --FONT-COLOR: white;
    --BORDER-COLOR: rgb(255, 255, 255);
    --HIGHLIGHT-COLOR: hsl(0, 100%, 50%);
    --LINK-COLOR: green;
    --LINK-HOVER: hsla(76, 66%, 37%, 0.6);
    --LINK-ACTIVE: orange;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* STANDARD PADDING */
    --PADDING: 0.25em 0.3em;
    --PADDING-TB: 0.25em 0;
    --PADDING-SIDE: 0 0.3em ;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;


}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* GENERAL STYLES */
html {
    font-size: var(--FS);
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font: inherit;
}

body {
    background-color: var(--BG-COLOR);
    color: var(--FONT-COLOR);
    font-family: var(--FF);
    font-size: calc(1rem + 0.5vw);
    font-weight: normal;
    max-width: 100vw;
    min-height: 100vh;


}

h1,
h2,
h3 {
    font-family: var(--HEADINGs);
    letter-spacing: 0.1em;
}

h2,
h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--FONT-COLOR);
}


a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}



/* border-left:var(--BORDERS);
margin: 0 auto;
    border-right:var(--BORDERS);
    /* box-shadow: 0 0 10px var(--BORDER-COLOR);  */