/* HEADER */

.header {
    font-size: var(--FS);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    
   
}


/* NAVBAR */

.nav {
    color: var(--FONT-COLOR);
    height: 100%;
    width: 40%;
    
}

.nav__menu {
    font-size: 0.5rem;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.nav__menu {
    font-size: 0.5rem;
}

.main-logo__link {
    display: flex;
    align-items: center;
}

.main-logo__img {
    height: 50px;
    object-fit: contain;
    width: 50px;
}

.nav__sub-menu {
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    visibility: hidden;
    min-width: 160px;
    position: absolute;
    z-index: 1;
}

/* SECTION 1 HERO */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--PADDING);
    height: 80vh;
    justify-content: center;
}



/* SECTION 2 businesses */
.businesses {
    display: flex;
    justify-content: center;
    height: 70vh;
}



/* SECTION 3 ADVANTAGES */
.advantages {
    background-color: var(--FONT-COLOR);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

}

/* SECTION 4 OUR SOLUTIONS*/

.solutions {
    display: flex;
    height: 80vh;
    background-color: var(--BG-COLOR2);
    gap: 2em;
    align-items: center;
    justify-content: center;
}

/* SECTION 5 CAROUSEL */
.services {
    height: 100vh;
    display: flex;
    background-color: var(--BG-COLOR2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
}

/* SECTION 6 hize__slider */
.hize {
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    background-color: aquamarine;

    /* overflow: hidden; */

}

/* SECTION 7 CONTACT */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--PADDING);
    height: 70vh;
    justify-content: center;
    background-color: var(--BG-COLOR2);
}

/* FOOTER */

.footer {
    display: flex;
    height: 75vh;
    background-color: var(--BG-COLOR);
    font-size: 0.6em;
    align-items: center;
    justify-content: center;
}

.footer__container {
    width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
}


.footer__form-title {
    text-align: center;
    font-size: 2em;
}

.footer__group {
    margin: var(--MARGIN);
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.footer__form-input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
    background: transparent;
    padding: 10px 0;
    color: white;
    font-size: 16px;
    text-align: center;
}

.footer__form-group {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__form-label {
    font-size: 0.7em;
}

.footer__form-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.footer__form-checkbox-group {
    display: flex;
    width: 100%;
    gap: 0.3em;
}

.footer__checkbox-group {
    display: flex;
    align-items: center;
}

.footer__checkbox {
    margin-right: 10px;
}

.legal {
    display: flex;
    flex-direction: column;
}

.footer__form-button {
    font-size: 1.2em;
    color: var(--FONT-COLOR);
    background-color: var(--HIGHLIGHT-COLOR1);
    margin-top: 1em;
}

.footer__form-button:hover {
    background-color: var(--FONT-COLOR);
    color: var(--HIGHLIGHT-COLOR2);
    transform: translateY(-10px);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}