/* LOGO */
.main-logo {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 300px;
}

.main-logo__h1 {
    font-size: 0.9em;
}

.main-logo__link {
    display: flex;
    align-items: center;
}

.main-logo__img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

/* RECHERCHE FORM*/
.form-search {
    align-items: center;
    border-radius: 3rem;
    border: var(--BORDERS);
    display: flex;
    height: 2rem;
    width: 5em;
    font-size: 0.5em;
    padding: var(--PADDING-SIDE);
}

.form__input {
    background-color: transparent;
    font-size: 0.5em;
    height: 50%;
    margin: 10px;
    border: none;
    padding: 10px;
    width: 70%;
}


/* LANGUE */
.langue-selector__option {
    font-size: 0.5em;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--FONT-COLOR);
}



/* BUTTONS */

.button {
    align-items: center;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    width: max-content;
    font-size: 0.5em;
    height: 1.9rem;
    margin: var(--MARGIN-TB);
    overflow: hidden;
    padding: var(--PADDING);
    position: relative;
    white-space: nowrap;
    
    /* Ne prend que la largeur de son contenu */
}

.button__text {
    z-index: 1;
}

/* INFO BOX */



.info-box__para {
    font-size: 0.5em;
}

/* BLOCKS/Components */




/* TITRE AVEC PHOTO */
.title-img {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.4em;
    width: 70%;
    flex-direction: column;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 40%;

}

.info-box__para {
    font-size: 0.5em;
}

.hero__para {
    margin: var(--MARGIN-TB);
    text-align: center;
    font-size: 0.4em;
}

.info-box__arrow-down {
    height: 150px;
    width: 150px;
}

/* CARD */
.card {

    height: 90%;
    width: 30%;
    position: relative;
}

.card__photo {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10%;

}

.card__logo {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -120px;
}

.card__logo2 {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -140px;
}

/* BLOCK LOGO ET H1 */

.logo-title {

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-title__h1 {
    margin: var(--MARGIN-TB);
    font-size: 0.9em;
    color: var(--BG-COLOR);
}

/* BLOCK TEXTE EN LIGNE */
.span__row {
    display: flex;
    white-space: nowrap;
    align-items: center;
}


/* services */
/* BLOCK ARROWS */
.arrows-btn {
    display: flex;
    width: 50%;
    height: 20%;
    align-items: center;
    justify-content: flex-end;
}

.title-services {
    font-size: 3em;
    display: flex;
    align-items: center;
    width: 50%;
    height: 20%;
}