/* LOGO */
.main-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 300px;
}

.main-logo__title {
    font-size: 2rem;
    font-weight: 200;
}

.main-logo__link {
    display: flex;
    align-items: center;
}

.main-logo__img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

/* RECHERCHE FORM*/
.form-search {
    align-items: center;
    border-radius: 3rem;
    border: var(--BORDERS);
    display: flex;
    height: 2rem;
    width: 5em;
    font-size: 0.5em;
    padding: var(--PADDING-SIDE);
}

.form-search__input {
    background-color: transparent;
    font-size: 0.5em;
    height: 50%;
    margin: 10px;
    border: none;
    padding: 10px;
    width: 70%;
}

.social {
    display: flex;

    gap: 2em;
}

.footer__copyright {
    font-size: 0.6em;
}


/* LANGUE */
.langue-selector__option {
    font-size: 0.5em;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--FONT-COLOR);
}



/* BUTTONS */

.button {
    display: flex;
    align-items: center;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    width: max-content;
    font-size: 0.5rem;
    overflow: hidden;
    padding: var(--PADDING);
    position: relative;
    white-space: nowrap;
    justify-content: center;
    /* Ne prend que la largeur de son contenu */
}

.button__text {
    z-index: 1;
    position: relative;
}

.button__arrow {
    padding: 0;
    border: 2px solid black;
    width: 2rem;
    height: 2rem;


}

/* INFO BOX */



.info-box__para {
    font-size: 0.5em;
}


/* TITRE AVEC PHOTO */
.title-icon {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.4em;
    width: 70%;
    flex-direction: column;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 40%;

}

.info-box__para {
    font-size: 0.5em;
}

.hero__para {
    margin: var(--MARGIN-TB);
    text-align: center;
    font-size: 0.4em;
}

.info-box__arrow-down {
    height: 150px;
    width: 150px;
}

/* CARD */
.card {

    height: 90%;
    width: 30%;
    position: relative;
}

.card__photo {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10%;

}

.card__logo {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -120px;
}

.card__logo2 {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: -140px;
}

/* BLOCK LOGO ET H1 */

.logo-title {

    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-title__h1 {
    margin: var(--MARGIN-TB);
    font-size: 0.9em;
    color: var(--BG-COLOR);
}



/* services */
/* BLOCK ARROWS */
.arrows-btn {
    display: flex;
    width: 20%;
    height: 20%;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
}


.services__title {
    font-size: 3em;
    display: flex;
    align-items: center;
    width: 50%;
    height: 20%;
}

.services__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    width: 100%;

}

/* CAROUSEL */
.carousel {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: blanchedalmond;
    position: relative;
    align-items: center;
    justify-content: center;
}



.carousel__container {

    align-items: center;
    display: flex;
    width: 1000px;
    height: 70%;
    background-color: chartreuse;
    overflow: hidden;

}

.carousel__wrapper {

    display: flex;
    gap: 50px;
    height: 100%;
    justify-content: space-around;



}

.carousel__card {

    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100%;
    width: 300px;
    padding: var(--PADDING-TB);
    border-radius: 5%;
    overflow: hidden;
}

.carousel__img {
    height: 70%;
    width: 100%;
    object-fit: fill;

}

.carousel__title {
    font-size: 0.8em;
    margin: 0 20px;
}


.button--margin {
    margin: 0 20px;
}

/* HIZE HYBRID SCROLL  */

.sticky{
   position:sticky;
    top: 0;
    height: 100vh;
    
}
.hize__slider {
   
    position: absolute;
    top:0;
    height: 100%;
    width:200vw;
    will-change: transform;
    display: flex;
    transition: transform 0,5s ease-out;
    align-items: center;
    
}
.hize__container {
    /* image */
    width: 50%;
    height: 100%;
    display: flex;
}
.hize__title {
    font-size: 0.5em;
    color: var(--HIGHLIGHT-COLOR2);
}
.separator {
    width: 1px;  
    background-color: rgba(0, 0, 0, 0.139);  
    height: 100%;  
  }
.hize__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    
    margin: var(--MARGIN);
    color : var(--BG-COLOR)

}



.container__text {
    font-size: 0.3em;
}

.icon {
    z-index: 0;
}








/* MODALE */

.modal {
    
    
    height: 60vh;
    width: 100vw;
     background-color: green;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     max-width: 200%;
     max-height: 200%;
}

.modal-nav{
    display: flex;
    justify-content: center;
}

.modal-nav__menu {
    display: flex;
    flex-direction: column;
}

.close-button {
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--contrastColor);

    cursor: pointer;
    background: transparent;
    border :none;
}
.burger-button {
    display: none;
}