/* VARIABLES */

:root {
    /* FONTS */
    --FF: "Arial", sans-serif ;
    --FF-HEADINGS: "Franklin Gothic Medium', 'Arial Narrow', Arial, cursive";
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    /* COLORS */
    --BG-COLOR: #272220;
    --FONT-COLOR: white;
    --BORDER-COLOR:black;
    /* BORDERS */
    ;
   
}
