/* TEXTE COLOR */
.text--black {
    color: var(--BG-COLOR);
}

.text--light-blue {
    color: var(--HIGHLIGHT-COLOR2);
}

.span--coffee-cream {
    color: var(--HIGHLIGHT-COLOR1);
}

.text-grey {
    color: var(--HIGHLIGHT-COLOR1);
}

/* TEXTE GRAS */
.text--bold {
    font-weight: bold;
}

/* IMAGE */
.img--circle {
    border-radius: 50%;
}

/* BUTTON  */
.button--contact {
    font-size: 0.3em;
    color: var(--BG-COLOR);
    width: 5rem;
}

.button--grey {
    color: var(--GREY-COLOR);
    background-color: var(--GREY-BG);
}

.button--grey-mid {
    margin: var(--MARGIN-TB);
}

/* BLOCK TEXTE EN LIGNE */
.text--row {
    display: flex;
    white-space: nowrap;
    align-items: center;
}