/* TEXTE COLOR */
.text--black {
    color: var(--BG-COLOR);
}

.text--light-blue {
    color: var(--HIGHLIGHT-COLOR2);
}

.span--coffee-cream {
    color: var(--HIGHLIGHT-COLOR1);
}

.text-grey {
    color: var(--HIGHLIGHT-COLOR1);
}

/* TEXTE GRAS */
.text--bold {
    font-weight: bold;
}

/* IMAGE */
.img--circle {
    border-radius: 50%;
}

/* BUTTON  */
.button--contact {
    font-size: 0.3em;
    color: var(--BG-COLOR);
    width: 5rem;
}

.button--grey {
    color: var(--GREY-COLOR);
    background-color: var(--GREY-BG);
}

.button--grey-mid {
    margin: var(--MARGIN-TB);
}

/* BLOCK TEXTE EN LIGNE */
.text--row {
    display: flex;
    
    align-items: center;
}
.zoom {
    transform: scale(1.2);
    transition:  transform 0.3s ease-in-out;
}


/* ANIMATION */
.header--slide-in {
    animation:slide-in-top 1s cubic-bezier(.25,.46,.45,.94) both;
}


@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}



@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}