
.how__carousel {
	
	width: 100%;
	display: flex;
	max-width: 100%;
	justify-content: center;
	position: relative;
	
}
.carousel {
	
	height: 1000px;
	width: 70%;
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	
}

.carousel__wrapper {
	height: 80%;
	
	display: flex;
	transition: transform 0.5s ease;
	align-items: center;
}

.carousel__item {
	display: flex;
	height: 80%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease;
	padding: 0;
}

.carousel__next, .carousel__prev {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: rgb(122, 76, 5);
	cursor: pointer;
	top: 50%;
	margin-top: -20px;
	transition: opacity 0.3s;
}
.carousel__prev {
	left: 0px;
}
.carousel__next {
	right: 0px;
}
.carousel__next--hidden {
	opacity: 0;
}
.carousel__prev--hidden {
	opacity: 0;
}

.carousel__item--zoom {
  transform: scale(1.3);
  
  z-index: 2;
}
/* pagination */

.carousel__pagination {
	position: absolute;
	bottom: 0;
	left:0;
	right: 0;
	text-align: center;
	transform: translateX(-50%)
}
.carousel__pagination__button {
	background-color: blue;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	transition: transform 0.3s;
	}
.carousel__pagination__button--active, .carousel__pagination__button:hover {
	transform: scale(1.4);
}