/* .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(7, 120px); 
  gap: 5px; 
  width: 100%; 
  
}

.grid__card{
  
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text-primary);
  padding: 10px;
}

.grid__card--content {
  background-color: var(--color-secondary-darker);
}
.grid__card--title {
  background-color: var(--color-secondary-ligther);
  border-radius: 15px 15px 0 0;
  font-size: var(--h4-size);

}
.grid__card--row {
  background-color: var(--color-secondary-ligth);
  border-radius: 15px 0 0 15px;
}
.grid__logo{
  height: 65px;
} */
.table__cell {
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text-primary);
  padding: 10px;
  width: 20%;
  height: 120px;
}
.table__cell--title {
  background-color: var(--color-secondary-ligther);
  border-radius: 15px 15px 0 0;
  font-size: var(--h4-size);
  font-weight: 100;
}
.table__row {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.table__cell--content {
  background-color: var(--color-secondary-darker);
}
.table__cell--row-header {
  background-color: var(--color-secondary-ligth);
  border-radius: 15px 0 0 15px;
}
.table-container {
	overflow-x: auto;
	width: 100%;
	margin: 0 auto;
}
.table {
	min-width: 1100px;
  width: 100%;
  border-collapse: collapse;
}
.position {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}
.table__logo {
  height: 65px;
  width: auto;
}
.table__cross {
  height: 50px;
  width: 50px;
}