.nav__list {
	display: flex;
	gap: 20px;
}
.nav-mobile {
	display: flex;
	width: 50%;
	height: 100%;
	align-items: center;
}
.nav-mobile__item {
	text-align: center;
}
.nav-mobile__list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.nav-mobile__link {
	display: inline-block;
	border: white 2px solid;
	border-radius: 20px;
	min-width: 200px;
	 padding: 0.5rem 1rem;
}
@media (max-width: 769px) {
	.nav {
		display: none;
	}
}