.nav__list {
	display: flex;
	gap: 20px;
}

.nav-mobile {
	display: flex;
	width: 50%;
	align-self: flex-end;
	margin: 80px 0 50px 0;
	align-items: center;
	
}
.nav-mobile__item {
	text-align: center;
}

.nav-mobile__list {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 20px;

}

@media (max-width: 769px) {
	.nav {
		display: none;
	}


}