

.container-img {
	overflow: hidden;
	border-radius: 10px;
	position: relative;

	display: block;
	
	
}

img {
	height: 100%;
	width: 100%;
	
	display: block;
	object-fit: contain;
}
.logo__link {
	display: flex;
	align-items: center;
}

.logo__img {
	height: 50px;
	object-fit: contain;
	width: 50px;
}
