

.container-img {
	overflow : visible;
	
	position: relative;
	display: block;
	
	
}

img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	display: block;
	object-fit: fill;
}
.logo__link {
	display: flex;
	align-items: center;
}

.logo__img {
	height: 60%;
	object-fit: contain;
	width: 70%;
}
