/* Reset des styles par défaut */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Image responsive */
img {
    width: 100%;
    height:auto;
    
    object-fit: cover;
}


/* Réinitialisation des listes */
li {
	list-style: none;
 }
 

/* Réinitialisation des styles de formulaire */
input,
button,
textarea {

    caret-color: var(--FONT-COLOR);
    outline: none;
}

/* TODO: a ranger */
span {
	display: inline;
 }

hr {
	border-top: var(--HIGHLIGHT-COLOR2);
 }