/* BUTTONS */

.button {
	display: flex;
	align-items: center;
	border-radius: 3rem;
	border: none;
	cursor: pointer;
	width: max-content;
	font-size: 0.5rem;
	overflow: hidden;
	padding: 0.5rem;
	position: relative;
	white-space: nowrap;
	justify-content: center;
	transition: color 0.3s ease,;

}





.close-button {
	padding: 2px 2px;
	position: absolute;
	top: 20px;
	right: 20px;
	color: var(--HIGHLIGHT-COLOR2);

	cursor: pointer;
	background: transparent;
	border: none;
}

/* BLOCK ARROWS */
.buttons-container {
	display: flex;

	align-items: center;
	justify-content: space-around;
	gap: 0.5em;
}