 /* CARD */
 .card {

 	height: 90%;
 	width: 30%;
 	position: relative;
 }

 .card__photo {
 	height: 100%;
 	width: 100%;
 	object-fit: fill;
 	border-radius: 10%;

 }

 .card-logo {
	display: flex;
	align-items: center;
	height: 70%;
	width: 90%;
	position: relative;
	z-index:0;
}
.card-logo__img {
	height: 450px;
	width: 350px;
	
}

.card-logo__logo {
	height: 50px;
	width: 50px;
	position: absolute;
	z-index:1;
	top: 10%;
	left: 90%;
	
}