 /* CARD */
 .card {

 	height: 90%;
 	width: 30%;
 	position: relative;
 }

 .card__photo {
 	height: 100%;
 	width: 100%;
 	object-fit: fill;
 	border-radius: 10%;

 }

 .card-logo {
	
	height: 70%;
	width: 90%;
}
.card-logo__img {
	border-radius: 10%;
	position: relative;
	height: 100%;
	width: 80%;
	
}

.card-logo__logo {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 10%;
	left: 90%;
}