

/* RECHERCHE FORM*/
.form-search {
	

	border-radius: 3rem;
	border: var(--BORDERS);
	display: flex;
	
	align-items: center;
	height: 1.5em;
	width: 5em;
	font-size: 0.5em;
	padding:0 0.3em;
}

.form-search__input {
	padding-top: 5px;
	background-color: transparent;
	font-size: 0.3em;
	border: none;
	
}
.form__icon{
	font-size: 2em;
	color: var(--FONT-COLOR);
}
.form-search__input::placeholder {
	font-size: 2em;
	color: var(--FONT-COLOR);
}

input:focus {
	border: 2px solid transparent;
	/* Enlève la bordure au clic */
}



