.sticky {
	position: sticky;
	top: 0;
	height: 100vh;
	overflow-x: hidden;

}

.hize__slider {

	position: absolute;
	top: 0;
	height: 100%;
	width: 200vw;
	will-change: transform;
	display: flex;
	transition: transform 0, 5s ease-out;
	align-items: center;

}

.hize__panel {

	width: 50%;
	height: 100%;
	display: flex;
}

.hize__sucess {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 30%;
	padding: 1.3em;
	color: var(--BG-COLOR)
}

.hize__sucess-border-right {
	border-right: 1px solid rgba(0, 0, 0, 0.315);
}

.hize__trait {
	width: 200px;
	font-size: 2px;
	display: block;
	height: 2px;
	margin: 0.5em 0;
	width: 100%;
	background-color: var(--HIGHLIGHT-COLOR2);
}

.hize__title {
	font-size: 0.5em;
	color: var(--HIGHLIGHT-COLOR2);
}

.hize__title-why {
	font-size: 2em;

}


.hize__para {
	font-size: 0.4em;
}

.hize__panel--right {
	flex-direction: column;
}

.hize__why-title {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1.3em;

}


.hize__why {
	display: flex;

	height: 100%;

}


.hize__container-right {
	display: flex;
	gap: 6em;
	flex-direction: column;
	width: 49%;
	height: 100%;
	padding: 2em;
}

.container__text {
	font-size: 0.3em;
}


.hize__advantage {
	display: flex;
}