.avantage__container {
	width: 100%;
}
.avantage__content {
	display: flex;
	flex-direction: column;
	gap: 100px;
	background-color: var(--color-secondary);
	padding: 50px 200px;
	color: var(--color-text-primary);
	border-radius: 0 0 30px 30px;
	height: 700px;
	
}
.avantage__buttons {
	display: flex;
	font-weight: var(--weight-bold);
}

.avantage__button--adv {
	background-color: var(--color-secondary);
	color: var(--color-text-primary);
	border-radius: 15px 0 0 0;
}

.avantage__button--conf {
	background-color: var(--white);
	border-radius:  0 15px 0 0;
	
}
.avantage__button {
	padding: 20px 40px;
	border: none;
}
.avantage__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 3rem; 
  margin: 4rem; 
}
.avantage__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
