
.how__carousel {
	height: 800px;
	width: 100%;
	display: flex;
}
.carousel {
	
	height: 1000px;
	width: 100%;
	
}

.carousel__wrapper {
	height: 80%;
	background-color: rgb(55, 0, 128);
	display: flex;
	transition: 0.3s;
	align-items: center;
}

.carousel__item {
	padding: 20px;
	display: flex;
	height: 200px;
	width: 50px;
	background-color: green;
	border: 2px solid black;
	margin: 20px;
}
.carousel__next, .carousel__prev {
	width: 40px;
	height: 40px;
	background-color: rgb(122, 76, 5);
	cursor: pointer;
}