.compliance {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	
	/* padding: var(--PADDING-SIDE); */
}
.compliance__container {
	width: 100%;
}
.compliance__content {
	display: flex;
	flex-direction: column;
	gap: 100px;
	height: 100%;
	background-color: var(--color-secondary);
	padding: 50px 200px;
	color: var(--color-text-primary);
	border-radius: 0 0 30px 30px;
}
.compliance__buttons {
	display: flex;
	font-weight: var(--weight-bold);
}
.compliance__button {
	padding: 20px 40px;
	border: none;
}
.compliance__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 80px;
	margin: 4rem;
	
}
.compliance__item {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (max-width: 1100px) {
	.compliance__content {
		padding: 20px 100px;
	}
}
@media (max-width: 769px) {
	.compliance__container {
		margin: 10px;
		
	}
	.compliance__content {
		padding: 20px 50px;
	}
	.compliance__list {
		margin:0;
		padding: 2rem 0;
	}
	
}
@media (max-width: 425px) {
	.hero__compliance-title {
		font-size: var(--caption);
	}
	.compliance__container {
		width: 100%;
		margin: 0;
		
	}
	.compliance__list {
		flex-direction: column;
		gap :5px;
		margin: 0;
	}
	.compliance__content {
		padding:20px 5px;
		height: 100%;
		border-radius: 0;
	}
	.compliance__button {
		width: 100%;
	}
}
