.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 130px;
	background-color: var(--color-secondary);
	border-radius: 30px;
	padding: 15px 100px 15px 70px;
	color: var(--color-text-primary);
}

.header__logo {
	height: 65px;
	width: 160px;
}
.nav__list {
	display: flex;
	gap: 20px;
}

