.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	background-color: var(--color-secondary);
	border-radius: 30px;
	padding: 15px 100px 15px 70px;
	color: var(--color-text-primary);
}

.header__logo {
	height: 65px;
	width: 160px;
}
.nav__list {
	display: flex;
	gap: 20px;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding :150px 200px 0 200px;
}
.hero__highlight {
	text-decoration: underline;
}

.hero__form {
	background-color: var(--color-secondary);
	align-items: center;
	display: flex;
	padding: 5px;
	border-radius: 30px;
}