.hero__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 800px;
}
.hero__highlight {
	text-decoration: underline;
}
.hero__form {
	background-color: var(--color-secondary);
	align-items: center;
	display: flex;
	padding: 5px;
	border-radius: 30px;
	padding: 10px 10px;
}
.hero__compliance{
	display: flex;
	gap: 10px;
	align-items: center;
}
.hero__features{
	margin-bottom: 3rem;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.hero__feature-description {
	background-color: var(--color-secondary);
	color: var(--color-text-primary);
	display: flex;
	align-items: center;
	padding: 30px 50px;
	border-radius: 30px;
	gap: 50px;
	height: 300px;
	 box-shadow: 20px 20px 10px var(--color-shadow);
}
.hero__feature-content{
	display: flex;
	flex-direction: column;
}