.question__container {
	display: flex;
	justify-content: space-between;
	border: 1px solid  var(--black);
	border-radius: 30px;
	padding: 20px 25px;
	
}
.question__title {
	text-align: left;
}
.question__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.question__button {
	align-self: center;
	padding : 18px 30px;
	border-radius: 5px 25px 25px 5px;
	border:none;
	box-shadow: 2px 2px 8px var(--color-shadow) 
}
.question__text {
    display: none;
}
.question1container {
	display: flex;
	flex-direction: column;
	gap: 45px;
}