.review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}
.review__cards{
	display: flex;
	justify-content:  center;
	gap :50px;
	
}
.review__card {
	display: flex;
	flex-direction: column;
	background-color: var(--color-secondary);
	height: 500px;
	width: 300px;
	color: var(--color-text-primary);
	border-radius: 25px;
	gap: 50px;
	padding: 40px 20px;
	
}

@media (max-width: 769px) {
	.review {
		padding: 0 20px;
	}
	.review__cards {
		flex-direction: column;
	}
	.review__card {
		width: 100%;
		height: auto;
	}
}