.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 150px 200px 0 200px;
	gap: 50px;
}

.how {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.compliance {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}


.question {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 0 200px;

}

.talk {
	display: flex;
	padding: 0 200px;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}